<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="login">
        <form>
            <h1 class="login-label"> User Login</h1>
            <div class="user">
                <label>Username</label>
                <input type="text" name="" placeholder="User name" required autofocus="">    
            </div>
            <div class="password">
                <label>Password</label>
                <input type="password" name="" placeholder="User Password" required autofocus="">
            </div>
            <div class="submit">
                    <a href="#" id="forgot" >Forgot Password?</a>
                    <button class="btn" type="submit">LOG IN </button>
            </div>
            <div class="continue">
                <label for="text" id="alternative"> --------------Or continue with--------------</label>
            </div>
            <button class="google-signup-btn">
                <img src="google-color-icon.png" 
                     alt="Google Logo" class="google-logo">
                Sign up with Google
            </button>
            <button class="apple-signup-btn">
                <img src="apple-icon.png" 
                     alt="Apple Logo" class="apple-logo">
                Sign up with Apple
            </button>
            <div class="new-user">
                <p> Don't have an Account?</p>
                <a href="#" id="signup"> Sign up</a>
            </div>

        </form>


        </div>
    </div>
    
</body>
</html>